<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'sync_subscription/style.css' %}" />
    <!--! bootstrap cdn -->
    <script src="{% static "sync_subscription/jquery-1.11.3.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "sync_subscription/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "sync_subscription/jquery-ui.min.css" %}"/>
    <script src="{% static "sync_subscription/bootstrap.min.js" %}"></script>
    <script src="{% static "sync_subscription/jquery-ui.min.js" %}"></script>
    <script src="{% static "sync_subscription/ws4redis.js" %}"></script>

    <style type="text/css">
        .page_header{height:10px;color:grey;}
        .panel-group{margin-top:10px}
        .btn-group{float:left}
        .youtube_search_results li a{float:left}
        .youtube_search_results li {display:block}
        .youtube_search_results li button{margin-top:25px;margin-left:10px}
    </style>
    <script>
        //get videos for each playlist
        function get_youku_videos(playlist_id){
            $.ajax({
                url: "{% url "sync:get_youku_videos" %}",
                data: "playlist_id="+playlist_id,
                type: "GET",
                datatype: "json",
                success: function(json){
                    var videos = json.videos;
                    text = $("<ul class='list-group'></ul>");
                    $("."+playlist_id).append(text);
                    $("."+playlist_id).parent().parent().find(".glyphicon-refresh").attr("class","badge").html(videos.length);
                    $.each(videos,function(index,video){
                        var video_id = video.id;
                        var video_info = $("<li class='list-group-item'><div class='checkbox' id='"+video_id+"'><label>"+ video.title +"</label></div></li>");
                        $("."+playlist_id + ">.list-group").append(video_info);
                    });
                    if(playlist_id == "22949573"){
                        var ws4redis = WS4Redis({
                            uri: '{{ WEBSOCKET_URI }}uploading?subscribe-broadcast&echo',
                            receive_message: update_uploding_status,
                            heartbeat_msg: '{{ WS4REDIS_HEARTBEAT }}',
                        });
                    }
                } 
            });
        }
        //check for existing video on youku that is from youtube
        //we first get the playlist and then get videos for each playlist;videos not on any lists is place under uncategorized
        function check_existing_youtube_videos(event){
            $("#youku_videos").remove();
            $(".video_edit").after("<div class='panel-group' id='youku_videos' role='tablist' aria-multiselectable='true'></div>");
            $.ajax({ 
                url: "{% url "sync:check_youku_existing_youtube_video" %}",
                type: "GET",
                datatype: "json",
                success: function(json){
                    var playlists = json.playlists;
                    $.each(playlists,function(index,item){
                        var panel = $("<div class='panel panel-default'>            <div class='panel-heading'  id='headingOne'>                <h4 class='panel-title'>    </h4>            </div>            <div id='collapseThree' class='panel-collapse collapse'>                <div class='panel-body'>  </div>            </div>        </div><!-- pannel -->")                    
                        var playlist_name = item.name;
                        var playlist_id = item.id;
                        var playlist_video_number = item.video_count;
                        panel.find(".panel-title").append($("<div class='checkbox'><label><a  data-toggle='collapse' data-parent='#youku_videos' href='#collapseThree'>"+playlist_name + "</a><label><span class='glyphicon glyphicon-refresh' ariahidden='true'></span></label></label></div>"));
                        panel.find(".panel-body").attr("class","panel-body "+playlist_id);
                        panel.find(".panel-body").parent().attr("id","collapse"+playlist_id);
                        panel.find("a").attr("href","#collapse"+playlist_id);
                        $("#youku_videos").append(panel); 
                        get_youku_videos(playlist_id);
                    });
                },
            });

        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        //delete videos and playlist;get the from pannel_body
        function delete_videos_playlists(event){
            var chkboxes = $('.video_chkbox, .playlist_chkbox');
            var video_ids = [];
            var playlist_ids = [];
            $.each(chkboxes,function(index,chkbox){
                if(chkbox.checked == true && $(chkbox).attr("class")=="playlist_chkbox"){
                    playlist_ids.push(chkbox.value);
                    }else if(chkbox.checked == true && $(chkbox).attr("class").split(" ")[1] == "video_chkbox"){
                    video_ids.push(chkbox.value);
                }
            });
            var csrftoken = getCookie('csrftoken'); 
            $.ajax({
                url:  "{% url "sync:delete_youku_videos" %}",
                type: "POST",
                data: {"video_ids[]":video_ids,"playlist_ids[]":playlist_ids},
                datatype: "json",
                beforeSend: function(xhr, settings) {
                    if (!this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    } 
                },
                error: function(json){
                    console.log(json);
                },
                success: function(json){
                    if(json.result == "success"){
                        $("#action_result").html("<h5>you have successfully delete the videos</h5>").dialog();
                        check_existing_youtube_videos();
                        }else{
                        $("#action_result").html("<h5>failed to delet video,please try later</h5>").dialog();
                    }
                }, 
            });
        }

        function search_youtube_video_channel(event){
            event.preventDefault();
            var query = $("#search_youtube input:first").val();
            var search_type = $("#search_youtube input:checked").val();
            if($(this).attr("id") == "get_more_results"){
                $(this).parent().find("ul").children().remove();
                var data = {"query":query,"search_type":search_type,"result_more":"hello"};
                }else{
                var data = {"query":query,"search_type":search_type};
            }
            $.ajax({
                url: "{% url "sync:search_youtube_channel" %}",
                data:data,
                datatype:"json",
                success: function(json){
                    channels = json.channels;
                    $.each(channels,function(index,channel){
                        channel = channel.snippet;
                        var discription_channel_id = "description" + channel.channelId;
                        if(index == 0){
                            var list_item = $("<li class='list-item' id='"+channel.channelId+"'><div class='header'><a data-toggle='collapse' href='#"+discription_channel_id+"'><h3>"+channel.title+"</h3></a><button>Synchronize To Youku</button></div><div class='clear_div'></div><div class='collapse in' id='"+discription_channel_id+"'>"+channel.description+"</div></li>")
                            }else{
                            var list_item = $("<li class='list-item' id='"+channel.channelId+"'><div class='header'><a data-toggle='collapse' href='#"+discription_channel_id+"'><h3>"+channel.title+"</h3></a><button>Synchronize To Youku</button></div><div class='clear_div'></div><div class='collapse' id='"+discription_channel_id+"'>"+channel.description+"</div></li>")
                        }
                        $(".youtube_search_results").append(list_item);

                    }); 
                },
            })
        }

        function get_channel_video_number(data_text){
            var channel_id = $("#select_youtube_videos .modal-dialog").attr("id");
            var published_after = new Date($("#start_date").val());
            published_after = published_after.toISOString();
            $.ajax({
                url: "{% url "sync:get_channel_video_number" %}",
                data: {"channel_id":channel_id,"published_after":published_after},
                data_type:"json",
                success: function(json){
                    $("#channel_video_nubmer").html("There are <span>"+ json.video_number + " </span> vidoes published after " + $("#start_date").val());
                }
            }); 
        }

        //get uploding status from the websocket and update page status
        //TODO:need to replace the youtube_video_id and channel_id with youku_video_id and youku_playlist
        function update_uploding_status(msg){
            console.log(msg);
            var msg = $.parseJSON(msg);
            var video_id = msg.video_id.replace(/[!"#$%&'()*+,.\/:;<=>?@[\\\]^`{|}~]/g, "\\$&");
            if($("#"+video_id).find(".progress-bar").length == 0){
                var progress_bar = $("<div class='progress'>  <div class='progress-bar progress-bar-success' role='progressbar' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100' style='width:0%;'> 0%</div></div>");
                $("#"+video_id).find("label").after(progress_bar);}

            $("#"+video_id).find("label").after(progress_bar);
            $("#"+video_id).find(".progress-bar").attr("style","width:"+msg.percentage).html(msg.percentage);
            if(msg.percentage == "100%"){$("#"+video_id).find(".progress-bar").parent().remove()}


        }
        function sync_channel(){
            var channel_id = $("#select_youtube_videos .modal-dialog").attr("id");
            var published_after = new Date($("#start_date").val());
            published_after = published_after.toISOString()
            var csrftoken = getCookie('csrftoken'); 
            var sync_playlist_bool = $("#sync_playlist_or_not")[0].checked;
            $.ajax({
                url:"{% url "sync:sync_channel" %}",
                data:{"channel_id":channel_id,"published_after":published_after,"sync_playlist_bool":sync_playlist_bool},
                datatype:"json",
                method:"POST",
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function(json){
                    //add channel as a playlist
                    var channel_title = json.videos[0].snippet.channelTitle;
                    var video_number = json.videos.length;
                    var panel = $("<div class='panel panel-default'><div class='panel-heading'  id='headingOne'><h4 class='panel-title'></h4></div><div id='collapseThree' class='panel-collapse collapse'><div class='panel-body'></div></div></div><!-- pannel -->");
                    var channel_id = json.videos[0].snippet.channelId;
                    panel.find(".panel-title").append($("<div class='checkbox'><label><input type='checkbox' class='playlist_chkbox' value='"+channel_id+"'/><a  data-toggle='collapse' data-parent='#youku_videos' href='#collapseThree'>"+channel_title+ "</a><label><span class='badge'>"+video_number+"</span></label></label></div>"));
                    panel.find(".panel-body").attr("class","panel-body "+channel_id);
                    panel.find(".panel-body").parent().attr("id","collapse"+channel_id);
                    panel.find("a").attr("href","#collapse"+channel_id);
                    $("#youku_videos").append(panel);
                    var text = $("<ul class='list-group'></ul>");
                    $("."+channel_id).append(text);
                    //add videos to channel_as_playlist
                    $.each(json.videos,function(index,video){
                        var video_id = video.id.videoId;
                        var video_title = video.snippet.title;
                        var video_info = $("<li class='list-group-item'><div class='checkbox'><label><input type='checkbox' id='"+ video_id + "'class='checkbox video_chkbox' value='" + video_id + "'>"+ video_title +"</label></div></li>");
                        $("."+ channel_id + ">.list-group").append(video_info);
                    });
                },
            });
            $("#select_youtube_videos").modal("hide"); 
            var ws4redis = WS4Redis({
                uri: '{{ WEBSOCKET_URI }}uploading?subscribe-broadcast&echo',
                receive_message: update_uploding_status,
                heartbeat_msg: '{{ WS4REDIS_HEARTBEAT }}',
            });
        }

        $(document).ready(function(){
            $("#check_existing_youtube_videos").bind("click",check_existing_youtube_videos);
            check_existing_youtube_videos();
            $("#delete_videos_playlists").bind("click",delete_videos_playlists);
            $( document ).ajaxComplete(function() {
                var lastChecked =  null
                var $chkboxes = $('.video_chkbox,.playlist_chkbox');
                $chkboxes.click(function(e) {
                    if(!lastChecked) {
                        lastChecked = this;
                        return;
                    }
                    if(e.shiftKey) {
                        var start = $chkboxes.index(this);
                        var end = $chkboxes.index(lastChecked);
                        $chkboxes.slice(Math.min(start,end), Math.max(start,end)+ 1).prop('checked', lastChecked.checked);
                    }
                    lastChecked = this;
                }); 
                $(".youtube_search_results li button").bind("click",function(){
                    var channel_id = $(this).parent().parent().attr("id");
                    $("#select_youtube_videos .modal-dialog").attr("id",channel_id);
                    $("#select_youtube_videos").modal("show");
                });
            });
            $("#search_youtube").submit(search_youtube_video_channel);
            $(".search_youtube").bind("click",search_youtube_video_channel);
            $("#get_more_results").bind("click",search_youtube_video_channel);
            var date_picker = $("#start_date").datepicker({
                dateFormat: "yy-mm-dd",
                onSelect: function(data_text) {
                    get_channel_video_number(data_text);
                },
            });
            $("#start_date").bind("click",function(){
                date_picker.show();
            });
            $("#real_sync").bind("click",sync_channel);
            $("#select_videos").bind("click",function(){
                //change to edit mode for playlists
                $(".panel").each(function(index){
                    var link = $(this).find("a");
                    var playlist_id = $(this).find(".panel-body").attr("class").split(" ")[1];
                    var label = $(this).find(".panel-title").find("label")[0];
                    $(label).html("<input type='checkbox' class='playlist_chkbox' value='"+playlist_id+"'/>").find("input").after(link);
                });
                //chage to edit mode for videos
                $(".list-group-item .checkbox").each(function(index){
                    var video_id = $(this).attr("id");
                    var video_title = $(this).find("label").text();
                    $(this).find("label").html("<input type='checkbox' id='"+ video_id + "'class='checkbox video_chkbox' value='" + video_id+"'>"+ video_title);
                });
            });
        });
    </script>
</head>

<body>
    {% csrf_token %}
    <div class="page_header">
    </div>
    <div class="container page_content">
        <div class="row">
            <div class="col-md-7" id="compare_videos"> 
                <div class="row video_edit btn-toolbar">
                    <div class="btn-group-lg btn-group">
                        <button type="button" class="btn btn-default"  id="check_existing_youtube_videos">Refresh</button>
                    </div>
                    <div class="btn-group-lg btn-group">
                        <button type="button" class="btn btn-default"  id="select_videos">Select</button>
                    </div>
                    <div class="btn-group-lg btn-group">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Edit
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a id="delete_videos_playlists" href="#">Delete</a></li>
                        </ul>
                    </div>
                </div><!--video_edit-->
                <div class='row panel-group' id='youku_videos' role='tablist' aria-multiselectable='true'>
                </div><!-- panel group-->
                <div class="row" id="action_result"></div>
            </div><!-- compare_videos -->
            <div class="col-md-5" id="youtube_search">
                <div class="row">
                    <form class="form-inline" id="search_youtube" action="{% url "sync:search_youtube_channel" %}" method="get">
                        <div class="form-group">
                            <input type="text" name="channel_query" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>Channel</label><input type="radio" class="form-control" name="search_type" id="channel" value="channel" checked/>
                        </div>
                        <div class="form-group">
                            <label>Videos</label><input type="radio" name="search_type" id="video" value="video" class="form-control"/>
                        </div>
                        <input type="submit" class="btn btn-default"/>
                    </form>
                </div>
                <div class="row">
                    <ul class="row list-group youtube_search_results">
                    </ul>
                </div><!-- list-group -->
                <div class="invisible row">
                    <button class="btn btn-default" id="get_more_results">Get More Reuslts</button>
                </div>
                <div id="select_youtube_videos" class="row invisible modal fade">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                Please choose the inital video you want to upload
                            </div><!-- modal header -->
                            <div class="modal-body">
                                <label><input type="text" id="start_date"/>Uploading video pushlished Before?</label>
                                <label><input type="checkbox" id="sync_playlist_or_not"/>Sync all playlist?</label>
                                <button id="real_sync">Start Synchronize</button>
                                <div id="channel_video_nubmer"></div>
                            </div><!-- modal body -->
                        </div><!-- modal content -->
                    </div><!-- modal-dialog -->
                </div><!-- select_youtube_videos -->
            </div><!-- youtube search -->
        </div><!-- first row -->
    </div><!-- container -->
    <div class="page_footer">
    </div>
</body>
