youku_client_id  = "43fd2d0ecab23a65"
youku_client_secret = "fff7e1bf75a2f77e5a620fd2ad03fd0e"
youku_username = "18662706251"
youku_passwd = "ggzCiEDocXhH6bh1"
youku_redirect_url = "http://tedxnanjing.com"

google_api_key = "AIzaSyDZ2loaqPcs5M337xJTrT5MR3tEj72BYVM"
google_client_id = "AIzaSyDZ2loaqPcs5M337xJTrT5MR3tEj72BYVM"
[Optional]
google_username = "dassiofriends@gmail.com"
google_passwd = "2pQWGvUoRWjBFkVg"

mariadb_username = "root"
mariadb_passwd = "danny@17b603"
mariadb_database_name = "youtube_videos"
mariadb_socket_path = "/var/lib/mysql/mysql.sock"
